# shellcheck shell=bash

# Trims leading and trailing whitespace from $2 and writes it to the variable name passed as $1
trim() {
    local var=${1:?} text=${2:-}
    text="${text#"${text%%[![:space:]]*}"}"
    text="${text%"${text##*[![:space:]]}"}"
    printf -v "$var" '%s' "$text"
}

# reversed systemctl
resystemctl() {
    systemctl "$2" "$1"; 
}

# record command
recc() {
    local log_file
    log_file="$(xdg-user-dir DOCUMENTS)"/recc/$(date +%Y-%m-%d_%H-%M-%S).log
    echo "Log file: $log_file"
    script -fc "$1" "$log_file";
}

## ssh
sshp() {
    ssh -CqTNn -D 0.0.0.0:1080 "$@"
}
if ( command -v peco &>/dev/null ); then
    sshh() {
        grep -E "^Host " ~/.ssh/config | awk "{print \$2}" | peco
    }
    sshi() {
        ssh "$(sshh)"
    }
    sshpi() {
        ssh -CqTNn -D 0.0.0.0:1080 "$(sshh)"
    }
fi